@font-face {
  font-family: 'Actay';
  src: url('./Actay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Medium.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: 'Actay', sans-serif;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* ШАПКА */

.header {
  position: fixed;

  top: 20px;
  left: 16px;
  right: 16px; 

  height: 80px; 

  background: #e5e5e5;

  border-radius: 50px;

  display: flex;
  align-items: center;

  padding: 0 20px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.12);

  z-index: 100;
}

.header__title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;

  margin-left: 20px; 
}

/* ЛОГО СЛЕВА */

.side-logo {
  position: fixed;

  top: 760px;
  left: 40px;

  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;

  width: 700px;

  z-index: 50;
  pointer-events: none;
}

/* КОНТЕНТ */

.content {
  padding: 80px 16px 120px;

  display: flex;
  flex-direction: column;
}

/* КАРТОЧКИ (БАЗА) */

.card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  display: block;
  border-radius: 20px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* ТЕКСТ */
.card h3 {
  margin-top: 10px;
}

.card p {
  margin-top: 4px; 
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* ИНДИВИДУАЛЬНЫЕ КАРТОЧКИ */

/* 1 */
.card-1 img {
  width: 260px;
  height: auto;

  margin-left: auto;
}

.card-1 h3,
.card-1 p {
  width: 260px;
  margin-left: auto;
}


/* 2 */
.card-2 img {
  width: 260px;
  height: auto;

  margin-left: auto;
  margin-top: 40px;
}

.card-2 h3,
.card-2 p {
  width: 260px;
  margin-left: auto;
}


/* 3 */
.card-3 img {
  width: 260px;
  height: auto;

  margin-left: auto;
  margin-top: 20px;
}

.card-3 h3,
.card-3 p {
  width: 260px;
  margin-left: auto;
}


/* 4 */
.card-4 img {
  width: 260px;
  height: auto;

  margin-left: auto;
  margin-top: 30px;
}

.card-4 h3,
.card-4 p {
  width: 260px;
  margin-left: auto;
}

/* НИЖНЕЕ МЕНЮ */

.nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 26px;

  background: #e5e5e5;
  padding: 18px 28px;
  border-radius: 30px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  transition: transform 0.5s ease, opacity 0.4s ease;

  z-index: 100;
}

.nav a {
  font-size: 22px; 
  text-decoration: none;
  color: #000;
}

/* АНИМАЦИЯ СКРОЛЛА */

.header.hide {
  transform: translate(-50%, -120%);
  opacity: 0;
}

.nav.hide {
  transform: translate(-50%, 120%);
  opacity: 0;
}

/* СТРАНИЦА ЭСКИЗОВ */

.sketches {
  padding-top: 100px;
}

/* верх */
.sketches__top {
  margin-bottom: 20px;
}

.sketches__sub {
  margin-top: 10px;
  font-size: 20px;
  text-decoration: underline;
  color: #333;
}

.sketches__sub:hover {
  opacity: 0.6;
}

.sketches__title {
  margin-top: 14px;
  font-size: 26px;
  font-weight: 700;
}

/* карточка */
.sketch {
  margin-top: 30px;
}

.sketch img {
  width: 100%;
  border-radius: 24px;

  box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

/* текст */
.sketch h3 {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 500;
}

.sketch p {
  margin-top: 4px;
  font-size: 16px;
}

.sketches-page .content {
  padding: 20px 16px 120px;
}

/* ========================= */
/* PRICES PAGE */
/* ========================= */

.prices-page {
  background: #fff;
}

.prices {
  padding: 80px 16px 120px;
  display: flex;
  flex-direction: column;
}

/* ========================= */
/* КАРТОЧКА */
/* ========================= */

.price-card {
  position: relative;
  margin-top: 60px;
}

.price-card:first-child {
  margin-top: 20px;
}

/* картинка */
.price-card img {
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

/* ========================= */
/* ТЕКСТОВЫЕ БЛОКИ */
/* ========================= */

.text-block {
  position: absolute;
  max-width: 240px;
}

/* текст */
.text-block h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.text-block p {
  font-size: 16px;
  margin-top: 4px;
  letter-spacing: 0.2px;
  
}

/* СТАРАЯ ЦЕНА */

.old {
  text-decoration: line-through;
  opacity: 0.5;
}

/* ПОЗИЦИОНИРОВАНИЕ 

/* 1 карточка */
.card-1 .block-1 {
  left: 0;
  bottom: -70px;
}

.card-1 .block-2 {
  right: 20px;
  bottom: -100px;
  text-align: right;
}

/* 2 карточка */
.card-2 .block-3 {
  left: 0;
  bottom: -70px;
}

.card-2 .block-4 {
  right: 20px;
  bottom: -100px;
  text-align: right;
}

/* 3 карточка */
.card-3 .block-5 {
  left: 0;
  bottom: -70px;
}

.card-3 .block-6 {
  right: 20px;
  bottom: -130px;
  text-align: right;
}

/* 4 карточка */
.card-4 .block-7 {
  left: 0;
  bottom: -70px;
}

/* ========================= */
/* ОТСТУПЫ ЧТОБЫ НЕ НАЛЕЗАЛО */
/* ========================= */

.price-card {
  margin-bottom: 120px;
}

/* SOCIAL PAGE */

.social {
  padding: 40px 16px 120px;
}

/* карточка */
.social-card {
  position: relative;
  height: 700px; 
  overflow: hidden;
}

/* КАРТИНКА*/
.social-card img {
  position: absolute;

  width: 550px;
  height: 367px;

  top: 75px;
  left: -85px;

  transform: rotate(90deg);

  border-radius: 0;
}

/* текст поверх */
.social-overlay {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  text-align: center;
}

/* ссылки */
.social-overlay a {
  white-space: nowrap;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}